<link rel="import" href="../polymer/polymer.html" />
<link rel="import" href="../paper-input/paper-input.html" />
<link
  rel="import"
  href="../paper-dropdown-menu/paper-dropdown-menu-light.html"
/>
<link rel="import" href="../paper-listbox/paper-listbox.html" />
<link rel="import" href="../paper-item/paper-item.html" />
<link rel="import" href="../paper-toggle-button/paper-toggle-button.html" />
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="../paper-radio-button/paper-radio-button.html" />

<script src="../node-uuid/uuid.js"></script>

<!--
`mobsos-question-editor`
An editor for editing questios in MobSOS.

@demo demo/question-editor.html
-->

<dom-module id="mobsos-question-editor">
  <template>
    <style>
      :host {
        display: block;
        max-width: 600px;
      }

      #title {
        --paper-input-container-input: {
          font-size: 24px;
          font-weight: 400;
        }
      }

      .flex-horizontal {
        @apply (--layout-horizontal);
      }

      .flexchild {
        @apply (--layout-flex);
      }

      .left-column {
        width: 40px;
        margin-right: 10px;
      }

      .left-column > paper-radio-button {
        padding-top: 30px;
      }

      paper-toggle-button {
        margin-top: 30px;
      }
    </style>

    <paper-dropdown-menu-light label="Page type">
      <paper-listbox
        class="dropdown-content"
        attr-for-selected="page-type"
        selected="{{pageType}}"
      >
        <paper-item page-type="InformationPageType">Information</paper-item>
        <paper-item page-type="OrdinalScaleQuestionPageType"
          >Ordinal scale question</paper-item
        >
        <paper-item page-type="DichotomousQuestionPageType"
          >Dichotomous question</paper-item
        >
        <paper-item page-type="FreeTextQuestionPageType"
          >Free text question</paper-item
        >
      </paper-listbox>
    </paper-dropdown-menu-light>

    <paper-input id="title" value="{{title}}" label="Title"></paper-input>

    <paper-input
      hidden$="[[_hideOrdinalScaleSegment(pageType)]]"
      id="qid"
      value="{{qid}}"
      label="Question id"
    ></paper-input>

    <paper-input
      id="instructions"
      value="{{instructions}}"
      label="Question or instructions"
    ></paper-input>

    <div
      id="ordinal-scale-segment"
      hidden$="[[_hideOrdinalScaleSegment(pageType)]]"
    >
      <div class="flex-horizontal">
        <div class="left-column">
          <paper-input
            id="ordinal-minval"
            type="number"
            value="{{minValue}}"
            max="{{maxValue}}"
          ></paper-input>
        </div>

        <div class="flexchild">
          <paper-input
            id="ordinal-minlabel"
            value="{{minLabel}}"
            label="Label for minimal value"
          ></paper-input>
        </div>
      </div>

      <div class="flex-horizontal">
        <div class="left-column">
          <paper-input
            id="ordinal-maxval"
            type="number"
            value="{{maxValue}}"
            min="{{minValue}}"
          ></paper-input>
        </div>

        <div class="flexchild">
          <paper-input
            id="ordinal-maxlabel"
            value="{{maxLabel}}"
            label="Label for maximal value"
          ></paper-input>
        </div>
      </div>
    </div>

    <div
      id="dichotomous-segment"
      hidden$="[[_hideDichotomousSegment(pageType)]]"
    >
      <div class="flex-horizontal">
        <div class="left-column">
          <paper-radio-button disabled></paper-radio-button>
        </div>

        <div class="flexchild">
          <paper-input
            id="dichotomous-minlabel"
            value="{{minLabel}}"
            label="Option 1"
          ></paper-input>
        </div>
      </div>

      <div class="flex-horizontal">
        <div class="left-column">
          <paper-radio-button disabled></paper-radio-button>
        </div>

        <div class="flexchild">
          <paper-input
            id="dichotomous-maxlabel"
            value="{{maxLabel}}"
            label="Option 2"
          ></paper-input>
        </div>
      </div>
    </div>

    <paper-toggle-button
      id="required"
      checked="{{required}}"
      hidden$="[[_hideRequired(pageType)]]"
      >Required</paper-toggle-button
    >
  </template>

  <script>
    Polymer({
      is: "mobsos-question-editor",

      properties: {
        /**
         * The page type, can be `InformationPageType`, `OrdinalScaleQuestionPageType`, `DichotomousQuestionPageType`
         * or `FreeTextQuestionPageType`.
         */
        pageType: {
          type: String,
          value: "InformationPageType",
        },
        /**
         * The title of the question or information page.
         */
        title: String,
        /**
         * The instructions id of the question or information page.
         * The ids can be used in the score calculation.
         */
        qid: String,
        /**
         * The instructions of the question or information.
         */
        instructions: String,
        /**
         * The label for the minimal value of ordinal scale and dichotomous question types.
         */
        minLabel: String,
        /**
         * The label for the maximal value of ordinal scale and dichotomous question types.
         */
        maxLabel: String,
        /**
         * The minimal value for ordinal scale and dichotomous questions.
         */
        minValue: {
          type: Number,
          value: 0,
        },
        /**
         * The maximal value for ordinal scale and dichotomous questions.
         */
        maxValue: {
          type: Number,
          value: 5,
        },
        /**
         * Defines for a question, whether it needs to be filled out in the questionnaire.
         */
        required: {
          type: Boolean,
          value: true,
        },
      },

      /**
       * Exports an XML node that can be used in the overall MobSOS questionnaire XML.
       *
       * @return {string} a MobSOS XML node of the question page.
       */
      exportXML: function () {
        var xml =
          '<qu:Page xsi:type="qu:' +
          this.pageType +
          '"\n' +
          '  name="' +
          this.title +
          '"';

        switch (this.pageType) {
          case "OrdinalScaleQuestionPageType":
            xml +=
              '\n  qid="' +
              (this.qid || uuid.v4()) +
              '"\n' +
              '  required="' +
              this.required +
              '"\n' +
              '  minval="' +
              this.minValue +
              '"\n' +
              '  maxval="' +
              this.maxValue +
              '"\n' +
              '  minlabel="' +
              this.minLabel +
              '"\n' +
              '  maxlabel="' +
              this.maxLabel +
              '"';
            break;
          case "DichotomousQuestionPageType":
            xml +=
              '\n  qid="' +
              uuid.v4() +
              '"\n' +
              '  required="' +
              this.required +
              '"\n' +
              '  minlabel="' +
              this.minLabel +
              '"\n' +
              '  maxlabel="' +
              this.maxLabel +
              '"';
            break;
          case "FreeTextQuestionPageType":
            xml +=
              '\n  qid="' +
              uuid.v4() +
              '"\n' +
              '  required="' +
              this.required +
              '"';
        }

        xml +=
          ">\n" +
          "  <qu:Instructions>" +
          this.instructions +
          "</qu:Instructions>\n" +
          "</qu:Page>";

        return xml;
      },

      _hideRequired: function (pageType) {
        return pageType === "InformationPageType";
      },

      _hideOrdinalScaleSegment: function (pageType) {
        return pageType !== "OrdinalScaleQuestionPageType";
      },

      _hideDichotomousSegment: function (pageType) {
        return pageType !== "DichotomousQuestionPageType";
      },
    });
  </script>
</dom-module>
