name: Docker Build and Push

on:
  push:
    branches: [ master, develop,gradle ]

jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 14
        uses: actions/setup-java@v2
        with:
          java-version: 14
          distribution: 'adopt'
      - name: Set up MySQL
        run: |
          sudo /etc/init.d/mysql start
          mysql -uroot -proot < etc/sql/schema.sql
      - name: Grant Gradle permissions
        run: chmod +x gradlew
      - name: Run Tests
        run: ./gradlew test
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: Build the Docker image
      run: | 
        docker build -t registry.tech4comp.dbis.rwth-aachen.de/rwthacis/mobsos-surveys:${{ steps.extract_branch.outputs.branch }} .
    - name: Push to registry
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}  
        DOCKER_PW: ${{ secrets.DOCKER_PW }}
      run: |
        docker login -u $DOCKER_USERNAME -p $DOCKER_PW registry.tech4comp.dbis.rwth-aachen.de
        docker push registry.tech4comp.dbis.rwth-aachen.de/rwthacis/mobsos-surveys:${{ steps.extract_branch.outputs.branch }}
    - name: Build the nginx Docker image
      run: |
        docker build -t registry.tech4comp.dbis.rwth-aachen.de/rwthacis/mobsos-surveys-nginx:${{ steps.extract_branch.outputs.branch }} -f etc/nginx/Dockerfile .
    - name: Push nginx to registry
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PW: ${{ secrets.DOCKER_PW }}
      run: |
        docker login -u $DOCKER_USERNAME -p $DOCKER_PW registry.tech4comp.dbis.rwth-aachen.de
        docker push registry.tech4comp.dbis.rwth-aachen.de/rwthacis/mobsos-surveys-nginx:${{ steps.extract_branch.outputs.branch }}
